<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Day 1 news</string>
	<string>Day 2 News</string>
	<string>Day 3 News</string>
	<string>Day 4 News</string>
	<string>Day 5 News</string>
	<string>Day 6 News</string>
	<string>Day 7 News</string>
	<string>Day 8 News</string>
	<string>Day 9 News</string>
	<string>Day 10 News</string>
	<string>Day 11 News</string>
</array>
</plist>
