<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Asia Pacific Policy Studies</string>
	<string>Bioinformatics</string>
	<string>Cell and Dev. Biology</string>
	<string>European Studies</string>
	<string>Genetics</string>
	<string>Genome Science and Technology</string>
	<string>Neuroscience</string>
	<string>Occupational and Environmental Hygene</string>
	<string>Interdisciplinary Oncology</string>
	<string>Planning</string>
	<string>Resource Management and Env. Studies</string>
	<string>Womens and Gender Studies</string>
</array>
</plist>
